faiss-cpu
flashrank
flashtext
flask
groq
h2
httptools
langchain-chroma
langchain-community
langchain-openai
langchain-qdrant
nltk
openpyxl
pandas
pip-chill
rapidfuzz
rerankers
sentence-transformers
sentencepiece
torchvision
watchfiles
websockets